.div1 {
    
    display: flex;
    justify-content: center;
    align-items:center;
    height: 97vh;           /* full viewport height */
    margin: 0;
    background-color:whitesmoke;
}

#p1 {  
    
    font-weight:bold;
    font-size: 25px;
    text-align:center;
    color:black;
    font-family:'Open Sans', sans-serif;
}

.box {
    background-color:lightsteelblue;
    height: 200px;
    width:440px;
    box-shadow: 5px 5px 14px;
    padding: 15px;
    border: 1px solid black;
}

#text {
    font-weight: bold;
}

#verifyOtpBtn {
    height:30px;
    width:90px;
    position: relative;
    left: 175px;
    top:20px;
    font-size: 14px;
}
