#container {
    background-color:whitesmoke;
    height:97vh;
    display: flex;
    justify-content: center;
    align-items:center;

}

#box {
    height: 550px;
    width: 500px;
    background-color:lightsteelblue;
    border: 1px solid black;
    box-shadow: 5px 5px 12px;
    padding:12px;
}

#signUp {
    font-weight: bold;
    font-size: 24px;
    text-align:center;
    color:black;
}

#fname {
    border-radius: 3px;
    padding:3px;

}

#Lname {
    border-radius: 3px;
    padding:3px;
}

#name-row {
    display: flex;
    gap:20px;
    
}
#text {
    color:black;
}

#field {
    display:flex;
    flex-direction: column;
}

#address {
    width:90%;
    border-radius: 3px;
    padding:3px;
}

#location-row {
    display:flex;
    gap:30px;
}

#field1 {
    flex:6;
}

#field2 {
    flex:4;
}

#landmark {
    border-radius: 3px;
    padding:3px;
    width: 100%;
}

#pincode {
    border-radius: 3px;
    padding:3px;
}

#email {
    border-radius: 3px;
    padding:3px;
    width: 60%;
}

#number {
    border-radius: 3px;
    padding:3px;
}

#password {
    border-radius: 3px;
    padding:3px;
}

#Confirm_password {
    border-radius: 3px;
    padding:3px;
}

#SignUp {
    height:30px;
    width:70px;
    position: relative;
    left: 230px;
    top:20px;
    
}